In [8]:
# Step 1: Imports
import pandas as pd
import numpy as np

In [9]:
#Step 2: Load Dataset
df = pd.read_csv("../data/Kangaroo.csv")

In [10]:

# Step 3: Initial Exploration
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.isnull().sum().sort_values(ascending=False))
print(df.describe())

(80368, 53)
Index(['Unnamed: 0', 'id', 'url', 'type', 'subtype', 'bedroomCount',
       'bathroomCount', 'province', 'locality', 'postCode', 'habitableSurface',
       'roomCount', 'monthlyCost', 'hasAttic', 'hasBasement',
       'hasDressingRoom', 'diningRoomSurface', 'hasDiningRoom',
       'buildingCondition', 'buildingConstructionYear', 'facedeCount',
       'floorCount', 'streetFacadeWidth', 'hasLift', 'floodZoneType',
       'heatingType', 'hasHeatPump', 'hasPhotovoltaicPanels',
       'hasThermicPanels', 'kitchenSurface', 'kitchenType', 'landSurface',
       'hasLivingRoom', 'livingRoomSurface', 'hasBalcony', 'hasGarden',
       'gardenSurface', 'gardenOrientation', 'parkingCountIndoor',
       'parkingCountOutdoor', 'hasAirConditioning', 'hasArmoredDoor',
       'hasVisiophone', 'hasOffice', 'toiletCount', 'hasSwimmingPool',
       'hasFireplace', 'hasTerrace', 'terraceSurface', 'terraceOrientation',
       'accessibleDisabledPeople', 'epcScore', 'price'],
      dtype='object')
Unnamed: 0                    int64
id                          float64
url                          object
type                         object
subtype                      object
bedroomCount                float64
bathroomCount               float64
province                     object
locality                     object
postCode                      int64
habitableSurface            float64
roomCount                   float64
monthlyCost                 float64
hasAttic                     object
hasBasement                  object
hasDressingRoom              object
diningRoomSurface           float64
hasDiningRoom                object
buildingCondition            object
buildingConstructionYear    float64
facedeCount                 float64
floorCount                  float64
streetFacadeWidth           float64
hasLift                      object
floodZoneType                object
heatingType                  object
hasHeatPump                  object
hasPhotovoltaicPanels        object
hasThermicPanels             object
kitchenSurface              float64
kitchenType                  object
landSurface                 float64
hasLivingRoom                object
livingRoomSurface           float64
hasBalcony                  float64
hasGarden                    object
gardenSurface               float64
gardenOrientation            object
parkingCountIndoor          float64
parkingCountOutdoor         float64
hasAirConditioning           object
hasArmoredDoor               object
hasVisiophone                object
hasOffice                    object
toiletCount                 float64
hasSwimmingPool              object
hasFireplace                 object
hasTerrace                   object
terraceSurface              float64
terraceOrientation           object
accessibleDisabledPeople    float64
epcScore                     object
price                       float64
dtype: object
accessibleDisabledPeople    80368
hasBalcony                  80368
monthlyCost                 80368
hasAirConditioning          79244
hasSwimmingPool             78552
hasDressingRoom             77740
hasFireplace                77324
hasThermicPanels            77256
hasArmoredDoor              76670
gardenOrientation           74767
diningRoomSurface           73467
hasHeatPump                 72895
hasPhotovoltaicPanels       72320
hasOffice                   69981
terraceOrientation          69106
hasAttic                    67852
hasDiningRoom               66227
streetFacadeWidth           64858
gardenSurface               64410
hasGarden                   64410
hasVisiophone               64377
parkingCountOutdoor         62042
hasLift                     61324
roomCount                   58420
kitchenSurface              56105
parkingCountIndoor          52129
terraceSurface              51769
livingRoomSurface           51418
hasBasement                 51053
floorCount                  42822
landSurface                 40827
kitchenType                 38452
hasLivingRoom               37492
floodZoneType               35902
heatingType                 33215
hasTerrace                  32939
buildingConstructionYear    31262
facedeCount                 27129
toiletCount                 25274
buildingCondition           22376
epcScore                    14977
bathroomCount               13696
habitableSurface            12585
bedroomCount                 6810
price                        3998
id                              0
postCode                        0
locality                        0
province                        0
subtype                         0
type                            0
url                             0
Unnamed: 0                      0
dtype: int64
          Unnamed: 0            id  bedroomCount  bathroomCount      postCode  \
count   80368.000000  8.036800e+04  73558.000000   66672.000000  80368.000000
mean   209681.710133  1.952922e+07      3.008877       1.427121   5266.587199
std    105460.844153  2.897688e+06      1.833185       4.556189   3045.698904
min         0.000000  1.882546e+06      1.000000       1.000000   1000.000000
25%    181965.750000  2.035055e+07      2.000000       1.000000   2330.000000
50%    235124.500000  2.052985e+07      3.000000       1.000000   4830.000000
75%    257006.250000  2.061494e+07      4.000000       2.000000   8420.000000
max    446550.000000  2.066439e+07    100.000000    1146.000000   9992.000000

       habitableSurface     roomCount  monthlyCost  diningRoomSurface  \
count      67783.000000  21948.000000          0.0        6901.000000
mean         178.499993      7.110443          NaN          21.124620
std          820.878936      5.824088          NaN          43.536167
min            6.000000      1.000000          NaN           1.000000
25%           93.000000      1.000000          NaN          14.000000
50%          140.000000      6.000000          NaN          18.000000
75%          200.000000     11.000000          NaN          24.000000
max       185347.000000     68.000000          NaN        2470.000000

       buildingConstructionYear  ...    landSurface  livingRoomSurface  \
count              49106.000000  ...   39541.000000       28950.000000
mean                1978.017350  ...    1289.410637          37.134715
std                   41.595504  ...    5657.080544         209.681277
min                 1753.000000  ...       1.000000           1.000000
25%                 1957.000000  ...     218.000000          25.000000
50%                 1980.000000  ...     461.000000          32.000000
75%                 2017.000000  ...     963.000000          40.000000
max                 2055.000000  ...  580608.000000       34418.000000

       hasBalcony  gardenSurface  parkingCountIndoor  parkingCountOutdoor  \
count         0.0   15958.000000        28239.000000         18326.000000
mean          NaN     696.321156            6.677751             8.280803
std           NaN    6308.715326          430.014870           746.151955
min           NaN       1.000000            1.000000             1.000000
25%           NaN      55.000000            1.000000             1.000000
50%           NaN     171.000000            1.000000             2.000000
75%           NaN     518.000000            1.000000             3.000000
max           NaN  734674.000000        50000.000000        101010.000000

       toiletCount  terraceSurface  accessibleDisabledPeople         price
count  55094.00000    28599.000000                       0.0  7.637000e+04
mean       1.80624       24.512710                       NaN  4.476061e+05
std        8.41452       43.244643                       NaN  5.115757e+05
min        1.00000        1.000000                       NaN  3.141000e+03
25%        1.00000        8.000000                       NaN  2.300000e+05
50%        2.00000       15.000000                       NaN  3.299000e+05
75%        2.00000       29.000000                       NaN  4.790000e+05
max     1958.00000     2921.000000                       NaN  1.500000e+07

[8 rows x 24 columns]

In [11]:
# Step 4: Drop unnecessary or highly null columns (example)
df = df.drop(columns=['Unnamed: 0', "url", "id", "monthlyCost", "accessibleDisabledPeople", "hasBalcony"], errors='ignore')

In [5]:
df.shape

(80368, 47)

In [6]:
# Step 5: Handle Missing Values 
df = df.dropna(subset=["price"])  # Drop if price is missing
#df = df.fillna(0)  # Simple fill for numeric NA
print(df.shape)

(76370, 47)

In [12]:
missing_facede_df = df[df['facedeCount'].isna()]
missing_counts_by_subtype = missing_facede_df['subtype'].value_counts()
print(missing_counts_by_subtype)

subtype
APARTMENT               11138
HOUSE                    7327
APARTMENT_GROUP          2425
HOUSE_GROUP              1565
FLAT_STUDIO               656
GROUND_FLOOR              643
VILLA                     614
DUPLEX                    571
PENTHOUSE                 463
APARTMENT_BLOCK           442
MIXED_USE_BUILDING        314
SERVICE_FLAT              255
KOT                       151
FARMHOUSE                  94
LOFT                       90
MANSION                    87
TOWN_HOUSE                 67
EXCEPTIONAL_PROPERTY       58
BUNGALOW                   57
COUNTRY_COTTAGE            33
TRIPLEX                    29
CHALET                     19
OTHER_PROPERTY             14
CASTLE                     12
MANOR_HOUSE                 5
Name: count, dtype: int64

In [ ]:
summary = df.groupby('subtype').agg(
    count=('subtype', 'count'),
    landSurface_missing=('landSurface', lambda x: x.isna().mean()),
    habitableSurface_missing=('habitableSurface', lambda x: x.isna().mean())
).sort_values(by='count', ascending=False)

# Convert to percentages
summary['landSurface_missing_%'] = (summary['landSurface_missing'] * 100).round(2)
summary['habitableSurface_missing_%'] = (summary['habitableSurface_missing'] * 100).round(2)

# Select relevant columns
summary = summary[['count', 'landSurface_missing_%', 'habitableSurface_missing_%']]

print(summary)

                      count  landSurface_missing_%  habitableSurface_missing_%
subtype
HOUSE                 33971                  11.95                       13.71
APARTMENT             23844                 100.00                        7.76
VILLA                  3769                   4.27                        9.60
APARTMENT_BLOCK        2454                  31.01                       20.17
MIXED_USE_BUILDING     1840                  20.43                       16.79
GROUND_FLOOR           1771                 100.00                        4.80
DUPLEX                 1691                 100.00                        5.80
FLAT_STUDIO            1381                 100.00                       10.57
PENTHOUSE              1265                 100.00                        4.82
EXCEPTIONAL_PROPERTY    813                   9.59                       10.95
MANSION                 544                  12.50                        8.46
TOWN_HOUSE              477                  17.82                        9.64
SERVICE_FLAT            449                 100.00                        7.57
BUNGALOW                427                   9.13                       11.48
KOT                     331                 100.00                       18.73
COUNTRY_COTTAGE         309                   4.21                       12.62
FARMHOUSE               289                   6.92                       26.30
LOFT                    259                 100.00                        6.95
CHALET                  166                   7.83                       13.25
TRIPLEX                 151                 100.00                        8.61
CASTLE                   68                   8.82                       16.18
OTHER_PROPERTY           54                  16.67                       35.19
MANOR_HOUSE              46                   6.52                        4.35
PAVILION                  1                   0.00                        0.00

In [ ]:
# 1. Compute price per m² for houses
houses = df[(df['type'].str.upper() == 'HOUSE') & df['landSurface'].notna() & df['price'].notna()].copy()
houses['price_per_m2'] = houses['price'] / houses['landSurface']
house_postCode_price = houses.groupby('postCode')['price_per_m2'].mean().reset_index()
house_postCode_price.rename(columns={'price_per_m2': 'house_postCode_avg_price_per_m2'}, inplace=True)

# 2. Compute price per m² for apartments
apartments = df[(df['type'].str.upper() == 'APARTMENT') & df['price'].notna() & df['habitableSurface'].notna()].copy()
apartments['price_per_m2'] = apartments['price'] / apartments['habitableSurface']
apartment_postCode_price = apartments.groupby('postCode')['price_per_m2'].mean().reset_index()
apartment_postCode_price.rename(columns={'price_per_m2': 'apartment_postCode_avg_price_per_m2'}, inplace=True)

# 3. Merge both features into the full dataset
df = df.merge(house_postCode_price, on='postCode', how='left')
df = df.merge(apartment_postCode_price, on='postCode', how='left')

# 4. Set the correct values for house and apartment types
# Set apartment's house_avg_price_per_m2 to NaN
df.loc[df['type'].str.upper() == 'APARTMENT', 'house_postCode_avg_price_per_m2'] = None

# Set house's apartment_avg_price_per_m2 to NaN
df.loc[df['type'].str.upper() == 'HOUSE', 'apartment_postCode_avg_price_per_m2'] = None

In [ ]:
df.to_csv('new_dataset.csv', index=False)

In [ ]:
df.head(50)

,type,subtype,bedroomCount,bathroomCount,province,locality,postCode,habitableSurface,roomCount,hasAttic,...,toiletCount,hasSwimmingPool,hasFireplace,hasTerrace,terraceSurface,terraceOrientation,epcScore,price,house_postCode_avg_price_per_m2,apartment_postCode_avg_price_per_m2
0,APARTMENT,APARTMENT,2.0,1.0,Brussels,Etterbeek,1040,100.0,NaN,NaN,...,1.0,NaN,NaN,True,7.0,NaN,C,399000.0,NaN,4436.991869
1,HOUSE,HOUSE,4.0,2.0,Brussels,Etterbeek,1040,270.0,12.0,True,...,3.0,NaN,NaN,True,1.0,NaN,E,895000.0,6855.940954,NaN
2,APARTMENT,APARTMENT,2.0,1.0,Brussels,Etterbeek,1040,87.0,NaN,NaN,...,1.0,NaN,NaN,True,2.0,NaN,F,465000.0,NaN,4436.991869
3,APARTMENT,APARTMENT,2.0,2.0,Brussels,Bruxelles,1040,104.0,NaN,NaN,...,2.0,NaN,NaN,True,3.0,NaN,B,590000.0,NaN,4436.991869
4,APARTMENT,FLAT_STUDIO,1.0,1.0,Brussels,Etterbeek,1040,71.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,E,289000.0,NaN,4436.991869
5,APARTMENT,APARTMENT,2.0,1.0,Brussels,ETTERBEEK,1040,90.0,NaN,NaN,...,1.0,NaN,NaN,True,2.0,NaN,D,375000.0,NaN,4436.991869
6,APARTMENT,DUPLEX,3.0,2.0,Brussels,Etterbeek,1040,220.0,NaN,NaN,...,4.0,NaN,NaN,True,25.0,SOUTH_WEST,D,950000.0,NaN,4436.991869
7,APARTMENT,DUPLEX,3.0,2.0,Brussels,Etterbeek,1040,220.0,NaN,NaN,...,4.0,NaN,NaN,True,25.0,SOUTH_WEST,D,950000.0,NaN,4436.991869
8,APARTMENT,DUPLEX,2.0,1.0,Brussels,Etterbeek,1040,187.0,NaN,NaN,...,2.0,NaN,NaN,True,25.0,SOUTH_WEST,C,795000.0,NaN,4436.991869
9,APARTMENT,APARTMENT,1.0,1.0,Brussels,Etterbeek,1040,93.0,NaN,NaN,...,1.0,NaN,NaN,True,5.0,EAST,F,297000.0,NaN,4436.991869

In [ ]:
house_df = df[df['type'].str.lower() == 'house'].copy()
apartment_df = df[df['type'].str.lower() == 'apartment'].copy()